@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@import "tailwindcss";
@theme {
  /* Primaire */
  --color-marine-blue: hsl(213 96% 18%);
  --color-purplish-blue: hsl(243 100% 62%);
  --color-pastel-blue: hsl(228 100% 84%);
  --color-light-blue: hsl(206 94% 87%);
  --color-strawberry-red: hsl(354 84% 57%);
  /* Neutral */
  --color-cool-gray: hsl(231 11% 63%);
  --color-light-gray: hsl(229 24% 87%);
  --color-magnolia: hsl(217 100% 97%);
  --color-alabaster: hsl(231 100% 99%);
  --color-white-t: hsl(0 0% 100%);
}

@layer base {
  html{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: var(--color-magnolia)
  }

  p {
    @apply text-base font-normal;
  }
}